@keyframes fadeFromBlack {
  0% {
    color: rgba(0, 0, 0, 0); }
  10% {
    color: rgba(0, 0, 0, 0); }
  100% {
    color: #ce6d39; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.heading-tertiary {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  font-weight: 700; }

p {
  font-size: 1.6rem; }

@media only screen and (max-width: 56.25em) {
  .services__text {
    font-size: 1.7rem; } }

.main-header {
  font-size: 4.2rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  color: #CE6D39;
  -webkit-text-stroke: 0.05rem;
  text-align: center; }

.header__name {
  font-size: 18rem;
  letter-spacing: 3rem;
  text-indent: 3rem;
  font-weight: 900;
  -webkit-text-stroke: 0.4rem;
  -webkit-text-stroke-color: black; }
  @media only screen and (max-width: 56.25em) {
    .header__name {
      font-size: 16rem;
      letter-spacing: 2.5rem;
      text-indent: 2.5rem; } }
  @media only screen and (max-width: 50em) {
    .header__name {
      font-size: 12rem;
      letter-spacing: 2rem;
      text-indent: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header__name {
      font-size: 10rem; } }
  @media only screen and (max-width: 31.25em) {
    .header__name {
      font-size: 8rem;
      letter-spacing: 1.75rem;
      text-indent: 1.75rem; } }
  @media only screen and (max-width: 21.875em) {
    .header__name {
      font-size: 7rem; } }

.nav-bar {
  font-weight: 900;
  font-size: 3.2rem; }
  @media only screen and (max-width: 62.5em) {
    .nav-bar {
      font-size: 2.8rem; } }

.pricing__sub-title {
  font-size: 3.2rem;
  font-weight: 700; }

.pricing__card {
  font-size: 3rem;
  font-weight: 700; }

.gym__title--sub-text {
  font-size: 2.8rem;
  font-style: italic; }

.gym__card-text {
  font-size: 3.2rem;
  font-weight: 700; }
  .gym__card-text--day {
    font-size: 1.8rem;
    font-weight: 700; }
    @media only screen and (max-width: 75em) {
      .gym__card-text--day {
        font-size: 2rem; } }
  .gym__card-text--time {
    font-size: 1.3rem;
    color: #1a1a1a; }
    @media only screen and (max-width: 56.25em) {
      .gym__card-text--time {
        font-size: 1.4remm; } }
  .gym__card-text--24 {
    font-size: 4rem;
    font-weight: 900; }

.gym__card-number {
  font-size: 3.5rem;
  font-weight: 900; }
  .gym__card-number--day {
    font-size: 2.4rem;
    font-weight: 700; }

.gym__card-monthly {
  font-size: 2rem;
  font-weight: 400; }

.pt__quaternary-title,
.massage__quaternary-title {
  font-size: 1.6rem;
  font-style: italic;
  color: #1a1a1a; }

.pt__card-text,
.massage__card-text {
  font-size: 2.1rem; }

.pt__card-number,
.massage__card-number {
  font-size: 3rem;
  font-weight: 700; }

.radio-btn__label {
  font-size: 2rem;
  font-weight: 700; }

@media only screen and (max-width: 68.75em) {
  .contact__text {
    text-align: center; } }

.footer__contact-text {
  color: #CE6D39; }

.footer__builder {
  font-size: 1.2rem;
  color: #CE6D39; }
  .footer__builder-href:link, .footer__builder-href:visited {
    text-transform: none;
    text-decoration: underline; }

.footer__link:link, .footer__link:visited {
  text-decoration: underline;
  font-size: 1.2rem; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

*:link,
*:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #CE6D39; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 43.75%; } }

body {
  min-width: 320px;
  overflow-x: auto;
  background-color: rgba(255, 239, 229, 0.5); }

::selection {
  background-color: rgba(0, 0, 0, 0.975);
  color: #ED5F13; }

.u--strong {
  font-weight: 700;
  font-size: 2rem; }

.u--medium {
  font-size: 1.7rem;
  font-style: italic; }

.u--new-line {
  display: block; }

.u--top-margin-small {
  display: block;
  margin-top: 1.75rem; }

.nav-bar__links-wrapper {
  height: 100%; }

.nav-bar__links {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 8%; }
  @media only screen and (max-width: 93.75em) {
    .nav-bar__links {
      padding: 0 3%; } }
  @media only screen and (max-width: 68.75em) {
    .nav-bar__links {
      padding: 0 .5%; } }

.nav-bar__link {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  position: relative; }
  .nav-bar__link-inner {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 0;
    width: 70%; }
    @media only screen and (max-width: 106.25em) {
      .nav-bar__link-inner {
        width: 85%; } }
    @media only screen and (max-width: 68.75em) {
      .nav-bar__link-inner {
        width: 92.5%; } }
    .nav-bar__link-inner::before {
      content: "";
      position: absolute;
      top: 0;
      height: 8px;
      width: 100%;
      background-color: #CE6D39;
      transform: scaleX(0);
      z-index: 1;
      transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1), height 0.4s 0.25s, background-color 0.2s; }
    .nav-bar__link-inner:hover::before {
      transform: scaleX(1);
      height: 100%; }
    .nav-bar__link-inner:active::before {
      background-color: #ED5F13; }

.btn--nav {
  color: #CE6D39;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  text-align: center;
  animation: fadeFromBlack 0.5s ease-in; }
  @media only screen and (max-width: 106.25em) {
    .btn--nav {
      width: 85%; } }
  @media only screen and (max-width: 68.75em) {
    .btn--nav {
      width: 92.5%; } }
  .btn--nav:link, .btn--nav:visited {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: color 0.4s 0.2s; }
    .btn--nav:link:hover, .btn--nav:visited:hover {
      color: #000000; }

.radio-btn__input {
  display: none; }

.radio-btn__label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.radio-btn__button {
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  border: 5px solid #ED5F13;
  border-radius: 50%;
  display: inline-block;
  position: relative; }
  .radio-btn__button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #ED5F13;
    opacity: 0;
    transition: opacity 0.2s; }
    @media only screen and (max-width: 25em) {
      .radio-btn__button::after {
        height: 2.5rem;
        width: 2.5rem; } }

.radio-btn__input:checked + .radio-btn__button::after {
  opacity: 1; }

.services__card {
  background: linear-gradient(-5deg, #ffefe5 50%, rgba(237, 95, 19, 0.8) 50.2%);
  border-radius: 3px;
  width: 25%;
  height: 45rem;
  text-align: center;
  padding: 2rem 3rem 5rem 3rem;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  @media only screen and (max-width: 93.75em) {
    .services__card {
      width: 27%; } }
  @media only screen and (max-width: 68.75em) {
    .services__card {
      width: 30%; } }
  @media only screen and (max-width: 56.25em) {
    .services__card {
      width: 60vw; } }
  @media only screen and (max-width: 31.25em) {
    .services__card {
      width: 75vw; } }
  .services__card:hover {
    transform: translateY(-1.5rem);
    background-color: rgba(237, 95, 19, 0.9);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.services__card-icon {
  width: 8rem;
  margin-bottom: 1.5rem; }

.services__card-heading {
  text-transform: uppercase;
  font-weight: 900;
  word-spacing: 0.3rem; }

.services__card-bottom {
  position: absolute;
  top: 55%;
  right: 10%;
  left: 10%; }
  @media only screen and (max-width: 56.25em) {
    .services__card-bottom {
      top: 60%; } }

.pricing__card {
  background: linear-gradient(-51deg, #FDEAE0 42%, #ED5F13 42.2%);
  border-radius: 0.5rem;
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  backface-visibility: hidden;
  transition: all 0.3s; }
  .pricing__card:hover {
    transform: translateY(-10%) scale(1.03);
    box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    background: linear-gradient(-51deg, #FCDFD0 42%, #F07432 42.2%); }

.gym__card-day-pass {
  width: 35rem;
  height: 5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .gym__card-day-pass {
      width: 40rem;
      height: 6rem; } }

.gym__card-subscription {
  width: 45rem;
  height: 12rem; }
  @media only screen and (max-width: 75em) {
    .gym__card-subscription {
      width: 46rem;
      height: 13.5rem; } }
  @media only screen and (max-width: 50em) {
    .gym__card-subscription {
      width: 66%; } }
  @media only screen and (max-width: 31.25em) {
    .gym__card-subscription {
      width: 92.5%; } }
  .gym__card-subscription--left-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.gym__card-text {
  margin-left: 2.25rem;
  margin-right: 0.5rem; }
  @media only screen and (max-width: 50em) {
    .gym__card-text {
      margin-left: 8rem; } }
  @media only screen and (max-width: 43.75em) {
    .gym__card-text {
      margin-left: 6rem; } }
  @media only screen and (max-width: 31.25em) {
    .gym__card-text {
      margin-left: 2.5rem; } }
  .gym__card-text--day {
    margin-left: 2.75rem; }
  .gym__card-text--24 {
    margin-left: 5rem; }
    @media only screen and (max-width: 50em) {
      .gym__card-text--24 {
        margin-left: 10rem; } }
    @media only screen and (max-width: 43.75em) {
      .gym__card-text--24 {
        margin-left: 8rem; } }
    @media only screen and (max-width: 31.25em) {
      .gym__card-text--24 {
        margin-left: 4rem; } }

.gym__card-number {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.4s ease-in-out, right 0.4s ease-in-out; }
  .gym__card-number--hidden {
    opacity: 0;
    right: 5%; }
  @media only screen and (max-width: 50em) {
    .gym__card-number {
      right: 11%; }
      .gym__card-number--hidden {
        right: 8%; } }

.gym__card-number--day {
  margin-right: 5rem; }

.pt__card,
.massage__card {
  background: linear-gradient(-51deg, #FDEAE0 34%, #ED5F13 34.2%);
  width: 40rem;
  height: 8rem; }
  @media only screen and (max-width: 75em) {
    .pt__card,
    .massage__card {
      width: 45rem;
      height: 9.5rem; } }
  @media only screen and (max-width: 50em) {
    .pt__card,
    .massage__card {
      width: 60%;
      height: 9.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .pt__card,
    .massage__card {
      width: 90%; } }
  .pt__card:hover,
  .massage__card:hover {
    transform: translateY(-10%) scale(1.03);
    box-shadow: 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
    background: linear-gradient(-51deg, #FCDFD0 34%, #F07432 34.2%); }
  .pt__card-text,
  .massage__card-text {
    margin-left: 2rem;
    margin-right: 0.5rem; }
  .pt__card-number,
  .massage__card-number {
    margin-right: 2rem;
    margin-left: 4rem; }

.contact__wrapper {
  border-radius: 5px;
  background: linear-gradient(-70deg, #FDEAE0 62%, rgba(237, 95, 19, 0.8) 62.1%);
  width: 65%;
  height: 50rem;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 93.75em) {
    .contact__wrapper {
      width: 75%;
      height: 57.5rem; } }
  @media only screen and (max-width: 87.5em) {
    .contact__wrapper {
      width: 87.5%;
      height: 62.5rem; } }
  @media only screen and (max-width: 75em) {
    .contact__wrapper {
      width: 95%;
      background: linear-gradient(-80deg, #FDEAE0 62%, rgba(237, 95, 19, 0.8) 62.2%); } }
  @media only screen and (max-width: 68.75em) {
    .contact__wrapper {
      width: 95%;
      height: 80rem;
      background: linear-gradient(-5deg, #FDEAE0 71%, rgba(237, 95, 19, 0.8) 71.2%); } }
  @media only screen and (max-width: 28.125em) {
    .contact__wrapper {
      height: 85rem;
      background: linear-gradient(-5deg, #FDEAE0 60.5%, rgba(237, 95, 19, 0.8) 60.7%); } }

.contact__info {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 106.25em) {
    .contact__info {
      width: 95%;
      height: 92.5%; } }
  @media only screen and (max-width: 68.75em) {
    .contact__info {
      flex-direction: column; } }
  .contact__info--right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .contact__info--right {
        width: 65%; } }
    @media only screen and (max-width: 68.75em) {
      .contact__info--right {
        width: 100%;
        height: 70%;
        justify-content: center; } }
    @media only screen and (max-width: 28.125em) {
      .contact__info--right {
        height: 58%; } }
  @media only screen and (max-width: 68.75em) {
    .contact__info--left {
      width: 95%; } }

.contact__hour-address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  @media only screen and (max-width: 68.75em) {
    .contact__hour-address-wrapper {
      flex-direction: row;
      width: 50%;
      justify-content: space-evenly; } }
  @media only screen and (max-width: 28.125em) {
    .contact__hour-address-wrapper {
      flex-direction: column;
      gap: 2rem; } }

.contact__phone-email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  @media only screen and (max-width: 68.75em) {
    .contact__phone-email-wrapper {
      flex-direction: row;
      width: 50%;
      justify-content: space-evenly; } }
  @media only screen and (max-width: 37.5em) {
    .contact__phone-email-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem; } }
  @media only screen and (max-width: 28.125em) {
    .contact__phone-email-wrapper {
      gap: 2rem; } }

.contact__text {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 68.75em) {
    .contact__text {
      flex-direction: row;
      margin-top: 2rem;
      justify-content: space-between; } }
  @media only screen and (max-width: 50em) {
    .contact__text {
      margin-top: 0;
      gap: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact__text {
      gap: 1rem; } }

.contact__map {
  width: 90%;
  height: 100%;
  border-style: none;
  border-radius: 3px; }
  @media only screen and (max-width: 31.25em) {
    .contact__map {
      width: 100%; } }

.gallery__carousel-wrapper {
  position: relative;
  width: 67vw; }
  @media only screen and (max-width: 93.75em) {
    .gallery__carousel-wrapper {
      width: 80vw; } }
  @media only screen and (max-width: 68.75em) {
    .gallery__carousel-wrapper {
      width: 90vw; } }
  .gallery__carousel-wrapper::before {
    content: "";
    display: block;
    padding-top: 56.25%; }
    @media only screen and (max-width: 37.5em) {
      .gallery__carousel-wrapper::before {
        padding-top: 125%; } }

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .carousel__images {
    list-style: none;
    width: 100%;
    height: 100%; }
  .carousel__slide {
    opacity: 0;
    transition: 0.2s opacity ease-in-out 0.2s;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .carousel__slide[active-slide] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0s; }
  .carousel__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .carousel__button {
    position: absolute;
    background-color: rgba(237, 95, 19, 0.75);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 100rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 50%;
    cursor: pointer;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .carousel__button--next {
      right: 0;
      transform: translateX(50%) translateY(-50%); }
      .carousel__button--next:hover {
        transform: translateX(50%) translateY(-50%);
        background-color: rgba(237, 95, 19, 0.9); }
      .carousel__button--next:active {
        transform: translateX(50%) translateY(-48%);
        background-color: rgba(237, 95, 19, 0.95); }
    .carousel__button--prev {
      left: 0;
      transform: translateX(-50%) translateY(-50%); }
      .carousel__button--prev:hover {
        transform: translateX(-50%) translateY(-50%);
        background-color: rgba(237, 95, 19, 0.9); }
      .carousel__button--prev:active {
        transform: translateX(-50%) translateY(-48%);
        background-color: rgba(237, 95, 19, 0.95); }
  .carousel__svg {
    width: 5.5rem;
    padding: 1rem; }

.footer {
  display: flex;
  width: 100%;
  background-color: #000000;
  margin-top: 20rem;
  height: 15rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .footer {
      margin-top: 12rem; } }
  .footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%; }
  .footer__logo {
    position: absolute;
    left: 1%; }
  .footer__isobodz-logo {
    width: 12rem; }
  .footer__info {
    margin-left: 2rem; }
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__links {
    display: flex;
    justify-content: space-evenly; }
  .footer__social {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly; }
    .footer__social a .footer__svg-path {
      fill: #CE6D39;
      transition: all 0.3s ease; }
    .footer__social a:hover .footer__svg-path {
      fill: #ED5F13; }
  .footer__facebook-link, .footer__instagram-link {
    display: flex;
    justify-content: space-evenly; }
  .footer__left {
    width: 10rem;
    height: 6rem; }
  .footer__builder {
    position: absolute;
    bottom: 0;
    right: 1%; }

@media only screen and (max-width: 37.5em) {
  .footer {
    height: 30rem; }
    .footer__wrapper {
      flex-direction: column;
      gap: 1rem; }
    .footer__info {
      margin-left: 0; }
    .footer__logo {
      position: static; } }

.header {
  position: relative; }
  .header__name {
    --bg-size: 400%;
    text-transform: uppercase;
    --color-one: #F17F42;
    --color-two: hsl(40 95% 55%);
    background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: move-bg 8s infinite linear; }
  .header__video {
    top: 0;
    left: 0;
    height: 30rem;
    width: 100%; }
    .header__video-content {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.95; }

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0; } }

.nav-bar {
  position: sticky;
  top: 0px;
  background-color: #000000;
  margin-top: 5rem;
  width: 100%;
  height: 10rem;
  letter-spacing: 0.4rem;
  z-index: 999; }
  .nav-bar__checkbox {
    display: none; }
  .nav-bar__button {
    display: none; }
  .nav-bar__pop-background {
    display: none; }

@media only screen and (max-width: 50em) {
  .nav-bar {
    width: 0;
    margin-top: 0rem; }
    .nav-bar__button {
      display: inline-block; }
    .nav-bar__pop-background {
      display: block; }
    .nav-bar__checkbox {
      display: none; }
    .nav-bar__button {
      display: inline-block;
      background-color: #000000;
      height: 8rem;
      width: 8rem;
      position: fixed;
      top: 1.25rem;
      right: 1.25rem;
      border-radius: 50%;
      z-index: 999;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer; }
    .nav-bar__pop-background {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      position: fixed;
      top: 1.75rem;
      right: 1.75rem;
      background-image: radial-gradient(rgba(244, 159, 113, 0.97), rgba(237, 95, 19, 0.97));
      z-index: 997;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    .nav-bar__links-wrapper {
      display: flex;
      margin-top: -10%;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -20%;
      z-index: 998;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .nav-bar__links {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 66%; }
    .nav-bar__link {
      margin: 1rem;
      width: 40%; }
      .nav-bar__link-inner::before {
        background-color: transparent; }
      .nav-bar__link-inner:hover::before {
        background-color: transparent; }
    .nav-bar__checkbox:checked ~ .nav-bar__pop-background {
      transform: scale(50); }
    .nav-bar__checkbox:checked ~ .nav-bar__links-wrapper {
      left: 0;
      display: flex;
      margin-top: -10%;
      align-items: center;
      opacity: 1;
      width: 100%; }
    .nav-bar .btn--nav:link, .nav-bar .btn--nav:visited {
      color: #000000;
      font-size: 3.5rem;
      font-weight: 900; }
    .nav-bar__icon {
      position: relative;
      margin-top: 4rem; }
      .nav-bar__icon, .nav-bar__icon::before, .nav-bar__icon::after {
        width: 4rem;
        height: 3px;
        background-color: #CE6D39;
        display: inline-block; }
      .nav-bar__icon::before, .nav-bar__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .nav-bar__icon::before {
        top: -1.25rem; }
      .nav-bar__icon::after {
        top: 1.25rem; }
    .nav-bar__button:hover .nav-bar__icon::before {
      top: -1rem; }
    .nav-bar__button:hover .nav-bar__icon::after {
      top: 1rem; }
    .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon {
      background-color: transparent; }
    .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::before {
      top: 0;
      transform: rotate(135deg);
      height: 4px; }
    .nav-bar__checkbox:checked + .nav-bar__button .nav-bar__icon::after {
      top: 0;
      transform: rotate(-135deg);
      height: 4px; } }

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  text-align: center;
  margin: 12.5rem auto 0 auto; }
  @media only screen and (max-width: 93.75em) {
    .about-us {
      max-width: 80vw; } }
  @media only screen and (max-width: 87.5em) {
    .about-us {
      max-width: 92.5vw; } }
  @media only screen and (max-width: 50em) {
    .about-us {
      margin: -5rem auto 0 auto; } }
  .about-us__main-header {
    width: 80vw;
    margin-bottom: 1rem; }
  .about-us__secondary-header {
    text-align: center;
    font-size: 2.2rem;
    width: 75ch;
    max-width: 70vw;
    margin-bottom: 10rem; }
  .about-us__details {
    display: flex;
    width: 70vw;
    gap: 1rem;
    text-align: center;
    flex-direction: column;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 93.75em) {
      .about-us__details {
        width: 90%; } }
    @media only screen and (max-width: 68.75em) {
      .about-us__details {
        width: 100%; } }
    .about-us__details p {
      font-size: 1.7rem; }
  .about-us__first-row {
    display: flex;
    margin-bottom: 8rem;
    justify-content: space-evenly; }
    @media only screen and (max-width: 93.75em) {
      .about-us__first-row {
        justify-content: space-between; } }
    @media only screen and (max-width: 59.375em) {
      .about-us__first-row {
        align-items: center;
        flex-direction: column;
        gap: 8rem;
        margin-bottom: 7rem; } }
  .about-us__second-row {
    max-width: 95vw;
    width: 80ch;
    margin: 0 auto 5rem auto; }
  .about-us__final-statement {
    font-weight: 700;
    font-size: 1.9rem; }
  .about-us__title {
    background-color: rgba(237, 95, 19, 0.8);
    border-radius: 3px; }
  .about-us__section {
    max-width: 95vw;
    width: 80ch; }

.services {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .services__title {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #CE6D39;
    margin-bottom: 8rem; }
  .services__cards {
    display: flex;
    justify-content: space-around;
    width: 92.5vw;
    gap: 1rem; }
    @media only screen and (max-width: 68.75em) {
      .services__cards {
        width: 97.5%; } }
    @media only screen and (max-width: 56.25em) {
      .services__cards {
        flex-direction: column;
        align-items: center;
        gap: 6rem; } }
  .services__styling-rectangle {
    position: absolute;
    width: 100%;
    background-color: rgba(237, 95, 19, 0.2);
    height: 70rem;
    z-index: -1;
    transform: skewY(-5deg);
    top: 0%; }
    @media only screen and (max-width: 56.25em) {
      .services__styling-rectangle {
        height: 165rem; } }

.pricing {
  margin: 10rem auto 0rem auto;
  padding-bottom: 10rem;
  position: relative; }
  .pricing__title {
    margin-bottom: 4rem; }
  .pricing__pt-massage-wrapper {
    margin-top: 13.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13.2rem; }
    @media only screen and (max-width: 93.75em) {
      .pricing__pt-massage-wrapper {
        margin-top: 9rem;
        gap: 9rem; } }
  .pricing__sub-title {
    border-radius: 3px;
    background-color: rgba(237, 95, 19, 0.8);
    padding: 0 10rem;
    margin-bottom: 2rem; }
  .pricing__styling-rectangle {
    position: absolute;
    width: 100%;
    background-color: rgba(237, 95, 19, 0.2);
    height: 75rem;
    z-index: -1;
    transform: skewY(-5deg);
    top: 7%; }

.gym {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .gym__cards {
    display: flex;
    gap: 3rem;
    width: 100%; }
    @media only screen and (max-width: 93.75em) {
      .gym__cards {
        flex-direction: column;
        align-items: center; } }
  .gym__first-row-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    width: 100%; }
    @media only screen and (max-width: 93.75em) {
      .gym__first-row-wrapper {
        gap: 15rem; } }
    @media only screen and (max-width: 68.75em) {
      .gym__first-row-wrapper {
        gap: 3rem; } }
    @media only screen and (max-width: 50em) {
      .gym__first-row-wrapper {
        flex-direction: column; } }
  .gym__title--sub-text {
    margin: 1rem 0 1.5rem 0; }
  .gym__radio-group {
    display: flex;
    border: none;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    height: 5rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .gym__radio-group {
        width: 100%; } }

.pt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%; }
  .pt__cards {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 2rem; }
    @media only screen and (max-width: 93.75em) {
      .pt__cards {
        width: 85%;
        gap: 3.5rem; } }
    @media only screen and (max-width: 75em) {
      .pt__cards {
        width: 95%; } }
    @media only screen and (max-width: 62.5em) {
      .pt__cards {
        flex-direction: column;
        align-items: center; } }
  .pt__first-row-wrapper {
    display: flex;
    width: 66.66666%;
    gap: 2rem; }
    @media only screen and (max-width: 93.75em) {
      .pt__first-row-wrapper {
        gap: 3.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .pt__first-row-wrapper {
        width: auto; } }
    @media only screen and (max-width: 50em) {
      .pt__first-row-wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center; } }
  .pt__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
  .pt__title {
    margin-bottom: 0rem; }

.massage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%; }
  .massage__cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 75%; }
    @media only screen and (max-width: 93.75em) {
      .massage__cards {
        width: 90%;
        gap: 5rem; } }
    @media only screen and (max-width: 50em) {
      .massage__cards {
        flex-direction: column;
        align-items: center;
        gap: 3.5rem; } }
  .massage__title {
    margin-bottom: 4rem; }

.gallery {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 87.5em) {
    .gallery {
      margin-top: 10rem; } }
  .gallery__title {
    margin-bottom: 4.5rem; }

.contact__wrapper {
  margin: 0 auto;
  margin-top: 5rem; }
